.textoazul{
    color: blue;
}
.textorosa{
    color: #f309f3;
}
#titulo{
color: brown;
text-align: center;
}
body{
background-color:grey ;
}
#imgmenor{
width: 40px;
}
.imgcentro{
width: 40px;
}