.textoazul{
    color: rgb(207, 207, 218);
}
.textorosa{
    color: rgb(244, 247, 249);
    
}
#titulo{
color: brown;
text-align: center;
}
body{
background-color:grey ;
text-align: center 
}
#imgmenor{
width: 500px;
}
.imgcentro{
width: 400px;
}