.textoazul{
    color: rgb(11, 11, 12);
    font-size: 50px;
}
.textorosa{
    color: rgb(5, 5, 5);
    font-size: 50px;
    
}
#tituloprincipal{
color: hsl(171, 91%, 5%);
text-align: center;
font-size: 40px;
padding-top: 75px;

}
body{
background-image: linear-gradient(rgb(114, 193, 230), rgb(30, 195, 228));
text-align: center;
font-size: 60px;
padding: 20px;

}
#imgmenor{
width: 400px;
font-size: 30px;
}
.imgcentro{
width: 500px;
}
.cabecalho{
    background-color: rgb(77, 120, 238);
    padding: 20px;
    font-size: 50px;
    color: blue;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}
header{
    background-color: rgb(4, 61, 61);
    padding: 20px;
    font-size: 40px;
    color: blue;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    border-bottom: 2px double rgb(253, 253, 252);;   
}